<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="%temp%\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="logfilename" value="NLogTest"/>
	<extensions>
		<add assembly="nlog.IndentException"/>
	</extensions>

	<targets>
		<target xsi:type="ColoredConsole"
						name="console"
						useDefaultRowHighlightingRules="true"
						detectConsoleAvailable="true"
							layout="${level} ${message}${onexception:${newline}${IndentException:LogStack=false:separator=&#x9;:beforeType=:aftertype=}}" />
	
		<target name="file" xsi:type="File"
		fileName="${basedir}/${logfilename}.log"
		keepFileOpen="false"
			layout="[${threadid}] ${longdate} ${level} (${logger}) ${message}${onexception:${newline}${IndentException}}" />

    
  </targets>

  <rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
		<logger name="*" minlevel="Trace" writeTo="Console" />
	</rules>
</nlog>